<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
  </head>
  <body>
	<h1>Introduce ED's Friends Contact</h1>
	<p>
	#301, DanIl Bldg, 591-3, Sinsa-dong, Gangnam-gu, Seoul, Korea
	<%= image_tag("location.jpg", :alt => "Location") %>
	</p>
  </body>
</html>
